<!-- <fieldset>
  <legend>Caculator</legend>
  <form>
    <div>
      <label for="txtFirst">First&nbsp;</label>
      <input type="text" id="txtFirst" #txtFirst value="{{first}}" (change)="updateFirst(+(txtFirst.value))">
    </div>
    <div>
      <label for="txtSecond">Second&nbsp;</label>
      <input type="text" id="txtSecond" #txtSecond [value]="second" (change)="updateSecond(+(txtSecond.value))">
    </div>
    <div>
      <button type="button" (click)="add()">Add</button>
    </div>
    <div>
      <label for="txtResult">Result&nbsp;</label>
      <input type="text" id="txtResult" readonly value="{{result}}">
    </div>
  </form>
</fieldset> -->
<!-- <app-calculator></app-calculator> -->
<app-new-calculator></app-new-calculator>