<!-- <span *ngIf="data>5">
    {{data}}
</span>
<ul>
    <li *ngFor="let name of names">
        {{name}}
    </li>
</ul> -->
<fieldset>
    <legend>Calculator</legend>
    <form [formGroup]="calcForm">
        <div>
            <label for="txtFirst">First&nbsp;</label>
            <input type="text" id="txtFirst" name="firstInput" formControlName="first">
        </div>
        <div>
            <label for="txtSecond">Second&nbsp;</label>
            <input type="text" id="txtSecond" name="secondInput" formControlName="second">
        </div>
        <div>
            <button type="button" (click)="add()">Add</button>
        </div>
        <div>
            <label for="txtResult">Result&nbsp;</label>
            <input type="text" id="txtResult" readonly formControlName="result">
        </div>
    </form>
</fieldset>