<ng-template #undefinedTemplate>
    <span>Could not get records</span>
</ng-template>
<ng-template #NoRecordTemplate>
    <span>No record present</span>
</ng-template>
<div *ngIf="postData;else undefinedTemplate">
    <table *ngIf="postData.length>0;else NoRecordTemplate">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of postData">
                <td>{{p.userId}}</td>
                <td>{{p.title}}</td>
                <td>{{p.body}}</td>
            </tr>
        </tbody>
    </table>
</div>